.detail_dialog {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   .info_section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }
}